<p>header works!</p>
<a routerLink="/home" routerLinkActive="active">Home</a>
<a routerLink="/about" routerLinkActive="active">About</a>
<a routerLink="/self" routerLinkActive="active">Self</a>
<a routerLink="/parent" routerLinkActive="active">Parent</a>
<a routerLink="/userDetails" routerLinkActive="active">User Details</a>
<a routerLink="/directivesListAll" routerLinkActive="active">Directives</a>
<a routerLink="/dataFilter" routerLinkActive="active">Data Filter</a>
<a routerLink="/sortList" routerLinkActive="active">Sort List</a>
<a routerLink="/hooks" routerLinkActive="active">Hooks</a>
<a routerLink="/lifeCycleHookParent" routerLinkActive="active">Hook Parent</a>
<a routerLink="/domManipulation" routerLinkActive="active">Dom Manipulation</a>
<a routerLink="/error" routerLinkActive="active">Error</a>
<a routerLink="/viewEncapsulation" routerLinkActive="active">View Encapsulation</a>
<a routerLink="/dependencyInjection" routerLinkActive="active">Depency Injection</a>
<a routerLink="/formValidation" routerLinkActive="active">Form Validation</a>
<a routerLink="/templateForm" routerLinkActive="active">Template Form</a>
<a routerLink="/reactiveFormOne" routerLinkActive="active">Templae Form One</a>
<a routerLink="/reactiveForm" routerLinkActive="active">Reactive Form</a>
<a routerLink="/customValidation" routerLinkActive="active">Custom Validation</a>
<a routerLink="/consitionalValidation" routerLinkActive="active">Conditional Validation</a>
<a routerLink="/customDirectiveValidation" routerLinkActive="active">Custom Directive Validation</a>
<a routerLink="/product" routerLinkActive="active">Product</a>
<a routerLink="/main-page">Main Page</a>
<a routerLink="/contact" routerLinkActive="active">Contact</a>

