<p>header works!</p>
<a routerLink="/">Home</a>
<a routerLink="/about">About</a>
<a routerLink="/self">Self</a>
<a routerLink="/parent">Parent</a>
<a routerLink="/userDetails">User Details</a>
<a routerLink="/directivesListAll">Directives</a>
<a routerLink="/dataFilter">Data Filter</a>
<a routerLink="/sortList">Sort List</a>
<a routerLink="/hooks">Hooks</a>
<a routerLink="/lifeCycleHookParent">Hook Parent</a>
<a routerLink="/domManipulation">Dom Manipulation</a>
<a routerLink="/error">Error</a>
<a routerLink="/viewEncapsulation">View Encapsulation</a>
<a routerLink="/dependencyInjection">Depency Injection</a>
<a routerLink="/formValidation">Form Validation</a>
<a routerLink="/templateForm">Template Form</a>
<a routerLink="/reactiveFormOne">Templae Form One</a>
<a routerLink="/reactiveForm">Reactive Form</a>
<a routerLink="/customValidation">Custom Validation</a>
<a routerLink="/consitionalValidation">Conditional Validation</a>
<a routerLink="/customDirectiveValidation">Custom Directive Validation</a>
<a routerLink="/contact">Contact</a>

