<p>custom-directive-validation works!</p>
<!-- <form [formGroup]="validatiorForm" (ngSubmit)="register(validateForm)" novalidate> -->
    
<!-- <form [formGroup]="validatorForm"
      (ngSubmit)="register(validatorForm)"
      novalidate>
    <div>
        <label>Name</label>
        <input type="text" name="name" formControlName="name" required />
        <error [control]=""validationForm.controls.name></error>
    </div>
     <div>
        <label>Age</label>
        <input type="number" name="age" formControlName="age" age-validate required />
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="email" formControlName="email" required email-validate />
        <error [control]=""validationForm.controls.email></error>
    </div>   
     <div>
        <label>Country</label>
        <input type="number" name="country" formControlName="country" required />
        <error [control]=""validationForm.controls.address.controls.country></error>
    </div>
     <div>
        <label>City</label>
        <input type="number" name="city" formControlName="city" required />
        <span *ngFor="let loc of getControls() | keyvale; index as i">
            <errors [control]?="i"></errors>
        </span>
        
    </div>
    <button type="submit" [disabled]="validateForm.invalid">Submit</button>
</form> -->